header.auth-header {
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: -167px -260px;
  background-image: url('../img/bg.png');
  background-image:
    -webkit-image-set(
      url('../img/bg.png') 1x,
      url('../img/bg@2x.png') 2x
    );
  background-image:
    image-set(
      url('../img/bg.png') 1x,
      url('../img/bg@2x.png') 2x
    );
  background-size: 1719px 489px;;
}

section.auth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  div.input-block {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-input {
      position: relative;
      input {
        margin-bottom: 20px;
        padding: 18px 25px 18px 68px;
        width: 420px;
        color: $menu-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        font-size: 24px;
        &::placeholder {
          opacity: 1;
          color: $menu-color;
        }
      }
      i {
        position: absolute;
        left: 20px;
      }
      .email-icon {
        background-image: url(../img/icon-email.svg);
        height: 21px;
        width: 28px;
        top: 27px;
      }
      .password-icon {
        background-image: url(../img/icon-password.svg);
        width: 27px;
        height: 37px;
        top: 19px;
      }
    }
  }
  .buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .login-buttons{
      width: 420px;
      height: 74px;
    }
    button.primaryAction {
      background: $black-color;
      border-radius: 5px;
      border: 0;
      color: $white-color;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 4.8px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    a.skip-login-button {
      background: $white-color;
      border-radius: 5px;
      border: 1px solid $border-color;;
      color: $black-color;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 4.8px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}