.calendar-block {
  .calendar {
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    border-top: 1px solid $calendar-border-color;
    border-left: 1px solid $calendar-border-color;
    //padding: .25rem .5rem 1rem .5rem;
    //box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    &.headings {
      border: none;
    }
    .top {
      grid-column: 1 / span 7;
    }

    .headings {
      padding-top: 25px;
      padding-bottom: 15px;
      font-size: 20px;
      color: $calendar-heading-color;
      font-weight: 100;
      text-transform: uppercase;
    }

    .header {
      padding: .75rem;
      font-size: 1.25rem;
      grid-column: 1 / span 7;

      span {
        flex: 1;
        text-align: center;
      }

      button {
        border: none;
        background: var(--white);
        margin: 0 1rem;
        padding: .25rem .5rem;
        outline: none;
        &:hover {
          //background: var(--black-400);
          transition: background 150ms;
        }
        &:focus {
          outline: none;
        }
      }

    }

    * {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .day {
      //color: var(--black-200);
      font-size: 1rem;
      color: $calendar-heading-color;
      border-bottom: 1px solid $calendar-border-color;
      border-right: 1px solid $calendar-border-color;

      &.selected {
        border: 2px solid $harvest-color;
      }

      &.current {
        color: $black-color;
      }

      &::before {
        content: "";
        display: inline-block;
        height: 0;
        padding-bottom: 100%;
        width: 1px;
      }

      button {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: inherit;
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        outline: none;
        &:hover {
          background: var(--black-400);
          transition: background 150ms;
        }
      }
      .action-dots {
        .HAR {
          background-color: $harvest-color
        }
        .PLT {
          background-color: $plot-color
        }
        .TRK {
          background-color: $truck-color
        }
        .action-dot {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          padding-right: 2px;
          margin: 0 1px;
        }
      }
    }

    .today {
      background-color: $main-header-bg;
    }
  }
}

.calendar-details {
  .calendar-details-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $active-tab-bg;
    .calendar-details-date {
      margin-bottom: 0.9rem;
      font-size: 20px;
    }
  }
  .calendar-details-packages {
    padding-top: 20px;
    .start-content .content-data .packages .package {
      .package-pid {
        .pid {
          font-size: 18px
        }
      }
      .package-details .package-entity {
        .description, .timestamp {
          display: flex;
        }
        .description {
          flex: 0 0 60%;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}