header.main-header {
  height: 120px;
  background: transparent linear-gradient(270deg, $main-header-bg 0%, $white-color 100%) 0% 0% no-repeat padding-box;
  border-bottom: 1px solid $main-header-border-color;
  position: absolute;
  width: 100%;
  z-index: 2;
  .logo {
    width: 305px;
    height: 120px;
    display: inline-block;
    img {
      padding-top: 30px;
      padding-left: 30px;
    }
  }
  .current-page-name {
    color: $black-color;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 32px;
    padding-bottom: 20px;
    h1 {
      font-size: 28px;
      margin: 0;
    }
  }
  .header-right {
    display: inline-block;
    float: right;
    padding-top: 82px;
    padding-right: 40px;
    font-size: 16px;
    .corporate-name {
      color: $black-color;
      font-weight: 100;
      min-width: 200px;
      //display: flex;
      padding: 5px;
      //justify-content: flex-end;
    }
    .logout {
      text-decoration: none;
      cursor: pointer;
      margin-left: 18px;
      font-weight: 600;
      color: $black-color;
      //display: flex;
      align-items: center;
      //justify-content: center;
      border: 1px solid $main-header-border-color;
      padding: 17px 33px;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
    }
  }

}
section.main-section {
  display: flex;
  //position: absolute;
  top: 130px;
  left: 0;
  bottom: 0;
  right: 0;
  .sidebar {
    background: transparent linear-gradient(180deg, $sidebar-bg 0%, $white-color 100%) 0% 0% no-repeat padding-box;
    width: 305px;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 2px solid $sidebar-bg;
    .submenu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      margin-bottom: 10px;
      .submenu-element {
        background: transparent linear-gradient(90deg, $sidebar-gradient 0%, $submenu-gradient 100%);
        border: 1px solid $main-header-border-color;
        border-right: 0;
        border-radius: 5px 0px 0px 5px;
        height: 50px;
        width: 285px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .menu-element {
      height: 92px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: transparent;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.5px;
      color: $black-color;
      text-transform: capitalize;
      padding-left: 80px;
      position: relative;
      cursor: pointer;
      &:first-child {
        margin-top: 120px;
      }
      &:not(:first-child) {
        border-top: 1px solid $main-header-border-color;
      }
      &#settings {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      i {
        position: absolute;
        left: 20px;
      }
      .tracability-icon {
        background-image: url(../img/icon-traceability_dark.png);
        background-image:
          -webkit-image-set(
            url(../img/icon-traceability_dark.png) 1x,
            url(../img/icon-traceability_dark@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/icon-traceability_dark.png) 1x,
            url(../img/icon-traceability_dark@2x.png) 2x
        );
        height: 36px;
        width: 37px;
        top: 26px;
      }
      .calendar-icon {
        background-image: url(../img/calendar-icon_dark.png);
        background-image:
          -webkit-image-set(
            url(../img/calendar-icon_dark.png) 1x,
            url(../img/calendar-icon_dark@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/calendar-icon_dark.png) 1x,
            url(../img/calendar-icon_dark@2x.png) 2x
        );
        height: 44px;
        width: 44px;
        top: 23px;
      }
      .replantation-icon {
        background-image: url(../img/replantation-icon_dark.png);
        background-image:
          -webkit-image-set(
            url(../img/replantation-icon_dark.png) 1x,
            url(../img/replantation-icon_dark@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/replantation-icon_dark.png) 1x,
            url(../img/replantation-icon_dark@2x.png) 2x
        );
        height: 49px;
        width: 38px;
        top: 20px;
      }
      .settings-icon {
        background-image: url(../img/icon-settings_dark.png);
        background-image:
          -webkit-image-set(
            url(../img/icon-settings_dark.png) 1x,
            url(../img/icon-settings_dark@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/icon-settings_dark.png) 1x,
            url(../img/icon-settings_dark@2x.png) 2x
        );
        height: 40px;
        width: 40px;
        top: 26px;
      }
      .show-arrow-icon {
        background-image: url(../img/show-arrow.svg);
        height: 9px;
        width: 17px;
        left: 250px;
      }
      .show-arrow-icon-switch {
        transform: rotate(180deg);
        transition: transform 300ms ease;
      }
    }
    .active-element {
      background: transparent linear-gradient(107deg, $sidebar-active-bg-from 0%, $sidebar-active-bg-to 100%) 0% 0% no-repeat padding-box;
      font-weight: 700 !important;
      color: $white-color;
      .tracability-icon {
        background-image: url(../img/icon-traceability.png);
        background-image:
          -webkit-image-set(
            url(../img/icon-traceability.png) 1x,
            url(../img/icon-traceability@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/icon-traceability.png) 1x,
            url(../img/icon-traceability@2x.png) 2x
        );
      }
      .calendar-icon {
        background-image: url(../img/calendar-icon.png);
        background-image:
          -webkit-image-set(
            url(../img/calendar-icon.png) 1x,
            url(../img/calendar-icon@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/calendar-icon.png) 1x,
            url(../img/calendar-icon@2x.png) 2x
        );
      }
      .replantation-icon {
        background-image: url(../img/replantation-icon.png);
        background-image:
          -webkit-image-set(
            url(../img/replantation-icon.png) 1x,
            url(../img/replantation-icon@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/replantation-icon.png) 1x,
            url(../img/replantation-icon@2x.png) 2x
        );
      }
      .settings-icon {
        background-image: url(../img/icon-settings.png);
        background-image:
          -webkit-image-set(
            url(../img/icon-settings.png) 1x,
            url(../img/icon-settings@2x.png) 2x
        );
        background-image:
          image-set(
            url(../img/icon-settings.png) 1x,
            url(../img/icon-settings@2x.png) 2x
        );
      }
    }
  }
  .main-content {
    padding: 40px;
    padding-top: 160px;
    padding-left: 340px;
    width: 100%;
    //margin-left: 304px;
    .start-content {
      display: flex;
      flex-direction: column;
      .nav-search {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $active-tab-bg;
        &.nav-sub {
          margin-top: 20px;
          .nav-tabs {
            .nav-item {
              .nav-link {
                text-transform: none;
              }
            }
          }
        }
        .nav-tabs {
          border: none;
          flex-grow: 1;
          .nav-item {
            margin-bottom: 0;
            margin-right: 10px;
            .nav-link {
              color: $tab-color;
              text-transform: uppercase;
              border-color: $main-header-border-color;
              font-weight: 100;
              border-bottom: none;
              font-size: 18px;
              &.active {
                background-color: $active-tab-bg;
                border-color: $active-tab-bg;
                color: white;
                font-weight: 500;
                .gps-pin-icon {
                  background-image: url(../img/GPS-pin-icon.png);
                  background-image:
                    -webkit-image-set(
                      url(../img/GPS-pin-icon.png) 1x,
                      url(../img/GPS-pin-icon@2x.png) 2x
                  );
                  background-image:
                    image-set(
                      url(../img/GPS-pin-icon.png) 1x,
                      url(../img/GPS-pin-icon@2x.png) 2x
                  );
                }
              }
              .gps-pin-icon {
                position: relative;
                display: inline-block;
                top: 3px;
                left: 4px;
                width: 14px;
                height: 20px;
                background-size: 14px 20px;
                background-image: url(../img/GPS-pin-icon_dark.png);
                background-image:
                  -webkit-image-set(
                    url(../img/GPS-pin-icon_dark.png) 1x,
                    url(../img/GPS-pin-icon_dark@2x.png) 2x
                );
                background-image:
                  image-set(
                    url(../img/GPS-pin-icon_dark.png) 1x,
                    url(../img/GPS-pin-icon_dark@2x.png) 2x
                );
              }
            }
          }
        }
      }
      .search-actions {
        flex-grow: 1;
        position: relative;
        .search-icon {
          background-image: url(../img/icon_search.png);
          height: 25px;
          width: 25px;
          position: absolute;
          right: 20px;
          top: 9px;
        }
        input {
          background: $white-color;
          border: 1px solid $main-header-border-color;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
          height: 44px;
          width: 100%;
          color: $black-color;
          font-size: 16px;
          font-weight: 100;
          padding: 15px;
          border-bottom: none;
          &::placeholder {
            opacity: 1;
            color: $black-color;
          }
        }
      }
      &.package-details {
        &.transport {
          .nav-search:not(.nav-sub) {
            border-color: $truck-color;
            .nav-link.active {
              background-color: $truck-color;
              border-color: $truck-color;
            }
          }
          .entity-header {
            border-color: $truck-color;
          }
          .entity-action {
            color: $truck-color;
          }
        }
        &.harvest {
          .nav-search:not(.nav-sub) {
            border-color: $harvest-color;
            .nav-link.active {
              background-color: $harvest-color;
              border-color: $harvest-color;
            }
          }
          .entity-header {
            border-color: $harvest-color;
          }
          .entity-action {
            color: $harvest-color;
          }
        }
        &.plot {
          .nav-search {
            border-color: $plot-color;
            .nav-link.active {
              background-color: $plot-color;
              border-color: $plot-color;
            }
          }
          .entity-header {
            border-color: $plot-color;
          }
          .entity-action {
            color: $plot-color;
          }
        }
      }
    }
    .content-data {
      display: flex;
      justify-content: space-between;
      .title-block {
          padding: 20px 17px;
          background-color: $main-header-bg;
          border-bottom: 1px solid $main-header-border-color;
          height: 63px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
            font-size: 24px;
            font-weight: 700;
          }
          .more {
            font-size: 24px;
            cursor: pointer;
            img {
              margin-left: 10px;
              margin-bottom: 5px;
            }
          }
        }
      .actions-data {
        background-color: $white-color;
        border-bottom: 1px solid $main-header-bg;
        border: 1px solid $main-header-border-color;
        border-radius: 10px;
      }
      .left-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        .actions {
          display: flex;
          flex-direction: column;
          .action {
            padding: 20px 20px 0 20px;
            .action-name-date {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                font-size: 20px;
                font-weight: 600;
              }
              .plot {
                color: $plot-color
              }
              .harvest {
                color: $harvest-color
              }
              .transport {
                color: $truck-color
              }
            }
            hr {
              margin-bottom: 0;
            }
          }
        }
      }
      .right-block {
        width: 40%;
        margin-left: 30px;
        min-width: 330px;
        max-width: 415px;
        height: 560px;
      }
      .packages-data {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $white-color;
        width: 100%;
        .plot {
          color: $plot-color
        }
        .harvest {
          color: $harvest-color
        }
        .transport {
          color: $truck-color
        }
        .title-block {
          justify-content: flex-start;
          .nav {
              display: flex;
              justify-content: center;
              width: 75%;
            nav {
              a.nav-link {
                font-size: 20px;
                height: 61px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                width: 115px;
                justify-content: center;
              }
              a.active {
                font-weight: 700;
              }
              a.active.plot {
                border-bottom: 4px solid $plot-color;
              }
              a.active.harvest {
                border-bottom: 4px solid $harvest-color;
              }
              a.active.transport {
                border-bottom: 4px solid $truck-color;
              }
            }
          }
        }
      }
      .packages {
          display: flex;
          flex-direction: column;
          .package {
            padding-top: 30px;
            font-size: 20px;
            font-weight: 600;
            .package-pid {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .pid {
                display: flex;
                align-items: center;
                .see-chain {
                  cursor: pointer;
                  border: 1px solid $main-header-border-color;
                  border-radius: 5px;
                  padding: 5px 10px;
                  margin-left: 45px;
                  img {
                    padding-left: 10px;
                  }
                }
                .active-package {
                    font-weight: 700;
                }
              }
              .see-details {
                cursor: pointer;
              }
            }
            .package-details {
              margin-top: 10px;
              .package-entity {
                div {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                .description {
                  font-weight: 100;
                }
                .timestamp {
                  font-weight: 500;
                  .timezone {
                    color: $timezone-color;
                    font-size: 16px;
                    font-weight: 100;
                  }
                }
              }
              .transaction-property-key {width: 30%}
              .transaction-property-value {width: 70%}
              .transaction-property-key, .transaction-property-value {
                display: inline-block!important;
                float: left;
                word-break: break-all;
              }

            }
          }
      }
      .transactions-data {
        width: 100%;
      }
      .chain-data {
        width: 100%;
        background-color: $white-color;
        border-bottom: 1px solid $main-header-bg;
        border: 1px solid $main-header-border-color;
        border-radius: 10px;
        .actions {
          display: flex;
          flex-direction: column;
          .action {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            .line-between {
              height: 1px;
              background-color: $main-header-border-color;
            }
            .action-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 100px;
              .name-and-icon {
                display: flex;
                .action-icon-name {
                  display: flex;
                  align-items: center;
                  min-width: 335px;
                  .action-name {
                    padding-left: 10px;
                    font-size: 28px;
                    font-weight: 600;
                  }
                }
                .action-dates {
                  display: flex;
                  .action-date {
                    margin-right: 20px;
                    .date-name {
                      font-weight: 600;
                      text-transform: capitalize;
                    }
                  }
                }
              }
              .action-position {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .position-coordinates {
                  width: 100px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .entity {
        flex: 0 0 50%;
        &:nth-child(1) {
          padding-right: 25px;
        }
        &:nth-child(2) {
          padding-left: 25px;
        }
        .entity-header {
          font-size: 20px;
          padding-top: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid $black-color;
          .entity-action, .entity-timestamp {
            display: inline-block;
          }
          .entity-action {
            text-transform: uppercase;
          }
          .entity-timestamp {
            float: right;
          }
        }
        .entity-details {
          .entity-property {
            position: relative;
            padding-top: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            &.col {
              &:first-child {
                margin-right: 10px;
              }
              &:last-child {
                margin-left: 10px;
              }
            }
            &.no-border {
              border: none;
            }
            .entity-property-name {
              font-weight: bold;
              img {
                border-radius: 5px;
                margin-top: 5px;
                margin-bottom: 10px;
              }
            }
            .entity-property-value {
              color: $menu-color;
              opacity: 0.5;
            }
            .entity-property-icon-warning {
              width: 32px;
              height: 28px;
              position: absolute;
              top: 23px;
              right: 0;
              background-image: url(../img/icon-warning.png);
              background-image:
                -webkit-image-set(
                  url(../img/icon-warning.png) 1x,
                  url(../img/icon-warning@2x.png) 2x
              );
              background-image:
                image-set(
                  url(../img/icon-warning.png) 1x,
                  url(../img/icon-warning@2x.png) 2x
              );
            }
          }
        }
      }
    }
  }
}
#mapid {
  height: 602px;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  background: $black-color;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  img {
    margin-top: 50px; }
}

[v-cloak] {
  display: none;
}

#prm-map {
  width: 100%;
  height: 600px;
}
