@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400,600,700&display=swap');

$primary-font: 'Public Sans', sans-serif;
$header-bg: #667176;
$menu-color: #0D0D0D;
$border-color: #D6D6D6;
$submit-color: #65CB00;
$white-color: #FFFFFF;
$black-color: #000000;
$sidebar-bg: #EFF6F0;
$sidebar-gradient: #DFE8E0;
$submenu-gradient: #EFF6F0;
$main-header-bg: #F5F7FA;
$main-header-border-color: #E8EBF1;
$plot-color: #2581EB;
$harvest-color: #65CB00;
$truck-color: #FF70F1;
$sidebar-active-bg-from: #72B400;
$sidebar-active-bg-to: #86E100;
$timezone-color: #CDDFD0;
$active-tab-bg: #667176;
$tab-color: #7E7E7E;
$calendar-heading-color: #BEBEBE;
$calendar-border-color: #EBF1E6;