@import url('https://fonts.googleapis.com/css?family=Public+Sans:300,400,600,700&display=swap');

$primary-font: 'Public Sans', sans-serif;
$header-bg: #667176;
$menu-color: #0D0D0D;
$border-color: #D6D6D6;
$submit-color: #65CB00;
$white-color: #FFFFFF;
$black-color: #000000;
$sidebar-bg: #EFF6F0;
$sidebar-gradient: #DFE8E0;
$submenu-gradient: #EFF6F0;
$main-header-bg: #CDDCCF26;
$main-header-border-color: #CDDCCF;
$harvest-color: #2581EB;
$sac-color: #65CB00;
$lot-color: #FF70F1;